body {
	font-size: 18px;
	line-height: 25px;
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-weight: 300;
	color: #3f444a;
}
h1{
	margin: 0px;
}
h2{
	text-transform: uppercase;
	font-size: 40px;
	line-height: 44px;
	text-align: center;
}
h3{

}
h4{

}
p{

}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
img{
	/* Чтобы картинка была responsive */
	max-width: 100%;
}
/* Стили для section сверху вниз */
.container {
	max-width: 1170px;
	margin: auto;
	padding: 0 15px;
}

/* header */
nav{
	height: 82px;
	background: #ffffff;
	position: relative;
}
.logo{
	float: left;
	padding-top: 28px;
	padding-bottom: 28px;
}
.search {
	position: absolute;
	right: 0px;
	top: 25px;
}
nav ul{
	float: right;
	padding-right: 44px;
	padding-top: 8px;
}
nav li{
	float: left;
	padding-right: 34px;
}
nav li:last-child{
	padding-right: 20px;
}
nav li a{
	font-family: "Roboto Condensed";
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	color: #3f444a;
	text-transform: uppercase;
}
nav li a:hover, .active{
	color: #ec4848;
}
.jumbotron{
	/* Сделал, чтобы было видно границу - потом удалить надо будет */
	background: gray;
}
/* the end header */

/*Who we are*/
#about .text{
	max-width: 800px;
	text-align: center;
	margin: auto;
}
#about h2 {
	
}
#about h3 {
	font-size: 18px;
}
.left-block {
	width: 50%;
	float: left;
	padding-right: 15px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.right-block{
	width: 50%;
	float: left;
	padding-left: 15px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.clear{
	clear: both;
}
.accordion {
	float: left;
}

#skills span {
    top: -30px;
    left: 2%;
    position: relative;
    font-size: 14px;
    color: #ffffff;
}

progress {
    background-color: #ec4848;
    border: 0;
    height: 30px;
    width: 100%;
    vertical-align: middle;
}

progress::-webkit-progress-bar {
    background-color: #e0eaf0;
}

progress::-webkit-progress-value {
    background-color: #ec4848;
}

progress::-moz-progress-bar {
    background-color: #ec4848;
}

/*The end - Who we are*/

/*Our Service*/
#services{
	border-top: 1px solid #ebebeb;
	padding: 78px 0 49px 0;
}
.services-second{
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}
.box{
	width: 33.333333333%;
	float: left;
	padding: 0 15px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 50px;
}
.box_second{
	border: 1px dotted #dbdbdb;
	border-radius: 10px;
	padding: 40px 24px 42px 24px;
}
.box_icons{
    background-size: 88px 88px;
    height: 88px;
    width: 88px;
    background-repeat: no-repeat;
    margin: auto;
}
.icons1{
	background-image: url('../images/COG-min.png');
}
.icons2{
	background-image: url('../images/PILL-min.png');
}
.icons3{
	background-image: url('../images/PLUG-min.png');
}
.box h3{
	text-transform: uppercase;
	font-size: 22px;
	line-height: 26px;
	padding-top: 72px;
	padding-bottom: 26px;
	margin: 0;
}
.box p{
	color: #5c6873;
	font-size: 18px;
	line-height: 22px;
	margin: 0;
}
.btn{
	background: #ec4848;
	width: 156px;
	height: 52px;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 16px;
	display: block;
    text-align: center;
    padding-top: 13px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 45px;
}
.box_second:hover{
	background: #3f444a;
}
.box_second:hover .icons1{
	background-image: url('../images/COG-min1.png');
}



































