/* @font-face {
  font-family: RobotoCondensed-Bold;
  src: url(fonts/RobotoCondensed-Bold.ttf);
} */

/* Для нас, на практике это не пишу */
/* Стили для стандартных тегов */
body {
	font-size: 18px;
	line-height: 25px;
	/* Лучше подключить Light // Но ведь в макетк шрифты детектятся как Bold? */
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-weight: 300;
	color: #5c6873;
}
h1{
	margin: 0px;
}
h2{
	
}
h3{

}
h4{

}
p{

}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
img{
	/* Чтобы картинка была responsive */
	max-width: 100%;
}
/* Стили для section сверху вниз */
.container {
	max-width: 1170px;
	margin: auto;
	padding: 0 15px;
}

/* header */
nav{
	height: 82px;
	background: #ffffff;
	position: relative;
}
.logo{
	float: left;
	padding-top: 28px;
	padding-bottom: 28px;
}
.search {
	position: absolute;
	right: 0px;
	top: 25px;
}
nav ul{
	float: right;
	padding-right: 44px;
	padding-top: 8px;
}
nav li{
	float: left;
	padding-right: 34px;
}
nav li:last-child{
	padding-right: 20px;
}
nav li a{
	font-family: "Roboto Condensed";
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	color: #3f444a;
	text-transform: uppercase;
}
nav li a:hover, .active{
	color: #ec4848;
}
.jumbotron{
	/* Сделал, чтобы было видно границу - потом удалить надо будет */
	background: gray;
}
/* the end header */