@font-face {
  font-family: RobotoCondensed-Bold;
  src: url(fonts/RobotoCondensed-Bold.ttf);
}

/* Для нас, на практике это не пишу */
/* Стили для стандартных тегов */
body {
	font-size: 18px;
	line-height: 25px;
	/* Лучше подключить Light // Но ведь в макетк шрифты детектятся как Bold? */
	font-family: "RobotoCondensed-Bold", Arial, sans-serif;
	color: #5c6873;
}
h1{

}
h2{
	
}
h3{

}
h4{

}
p{

}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
img{
	/* Чтобы картинка была responsive */
	max-width: 100%;
}
/* Стили для section сверху вниз */
.container {
	max-width: 1170px;
	margin: auto;
	padding: 0 15px;
}

/* header */
nav{
	height: 82px;
	background: #ffffff;
}
.logo{
	float: left;
	background-color: #ec4848; /*Как сделать цвета лого красным? У меня вырезана прозрачная форма.*/
	padding-left: 215px;
	padding-top: 28px;
	padding-bottom: 28px; /*Как впихнуть значок справа от навигации?*/
}
.search {
	position: absolute;
	float: right;
	right: 20px;
	top: 25px;
	/*padding-right: 230px;
	padding-top: 24px;
	padding-bottom: 24px;*/
}
nav ul{
	float: right;
}
nav li{
	float: left;
	padding-right: 34px;
}
nav li:last-child{
	padding-right: 20px;
}
nav li a{
	font-family: "RobotoCondensed-Bold";
	font-size: 14px;
	line-height: 18px;
	color: #3f444a;
	text-transform: uppercase;
}
nav li a:hover, .active{
	color: #ec4848;
}
/* the end header */